* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}
body {
  font-family: var(--ark-font-family);
  background: var(--ark-color-bg);
  color: var(--ark-color-text);
  font-size: var(--ark-font-size-sm);
  -webkit-font-smoothing: antialiased;
}
a {
  color: inherit;
  text-decoration: none;
}
:root {
  color-scheme: light;
}
[data-theme='dark'] {
  color-scheme: dark;
}
